<!DOCTYPE html>
<html>
    <head>
        <title>Upload File</title>
        <style>
            .btn{
                padding: 0.5em;
            }
        </style>
    </head>
    <body>
        <a href="<%=url%>"><button class="btn">Upload File</button></a>
    </body>
</html>